.match-table-container {
    margin: 20px auto; /* Center the table and add reasonable margin */
    width: 90%; /* Adjust the width as needed */
  }
  
  /* Style for the table with class "match-list-table" */
  .match-list-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Style for table header cells */
  .match-list-table th {
    padding: 10px;
    border-bottom: 2px solid black; /* Black under-border-line */
  }
  
  /* Style for table body cells */
  .match-list-table td {
    padding: 10px;
    border-bottom: 1px solid #bbb; /* Light gray border-bottom */
    text-align: center;
  }
  
  /* Style for the last row in the table body */
  .match-list-table tbody tr:last-child td {
    border-bottom: none; /* Remove border-bottom for the last row */
  }
  
  
/* Align dropdown to the left with margin */
.match-dropdown {
    margin-left: 10%; /* Adjust as needed */
    margin-top: 30px;
    display: flex;
  }
  
  /* Apply margin above and below the dropdown */
  .match-dropdown select {
    margin: 8px; /* Adjust as needed */
    margin-right: 16px; /* Adjust as needed */
    width: 100px;
  }
  
  .match-dropdown label {
    margin: 8px;
    width: 100px; /* Adjust as needed */
  }
  
  /* Style for the matchStat table */
  .matchStat {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .statTeamTitle {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  
  .statTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .statTable th,
  .statTable td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .statTable th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .statTable td {
    background-color: #fff;
  }
  
  .statTable tr:nth-child(even) {
    background-color: #f9f9f9;
  }

/* First column */
th:nth-child(1), td:nth-child(1) { 
  width: 150px;
  text-align: left;
}

/* Remaining columns */
th:not(:first-child), td:not(:first-child) {
  width: 50px;
  text-align: center;
}

  /* Bold text for the last row */
  .statTable tr:last-child td {
    font-weight: bold;
  }  
  