@tailwind base;
@tailwind components;
@tailwind utilities;

.match-table-container {
    margin: 20px auto; /* Center the table and add reasonable margin */
    width: 90%; /* Adjust the width as needed */
  }
  
  /* Style for the table with class "match-list-table" */
  .match-list-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Style for table header cells */
  .match-list-table th {
    padding: 10px;
    border-bottom: 2px solid black; /* Black under-border-line */
  }
  
  /* Style for table body cells */
  .match-list-table td {
    padding: 10px;
    border-bottom: 1px solid #bbb; /* Light gray border-bottom */
    text-align: center;
  }
  
  /* Style for the last row in the table body */
  .match-list-table tbody tr:last-child td {
    border-bottom: none; /* Remove border-bottom for the last row */
  }
  
  
/* Align dropdown to the left with margin */
.match-dropdown {
    margin-left: 10%; /* Adjust as needed */
    margin-top: 30px;
    display: flex;
  }
  
  /* Apply margin above and below the dropdown */
  .match-dropdown select {
    margin: 8px; /* Adjust as needed */
    margin-right: 16px; /* Adjust as needed */
    width: 100px;
  }
  
  .match-dropdown label {
    margin: 8px;
    width: 100px; /* Adjust as needed */
  }
  
  